<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container-fluid'>
      <a class='brand pjax' href='/admin/'>Reviver</a>
      <div class='nav-collapse'>
        <ul class='nav pull-right'>
        <li><a href="/admin/" class="pjax">Dashboard</a></li>
        <li><a href="/" class="pjax">Home</a></li>
        <li><a href="/admin/user/1/edit">brook@brook.com</a></li>
        <li><a href="/users/sign_out" data-method="delete" rel="nofollow"><span class="label label-important">Log out</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


