<div class='span3'>
      <div class='well sidebar-nav'>
        <ul class='nav nav-list'>
          <li class='nav-header'>Navigation</li>
          <li data-model="user"><a class="pjax" href="/index">Index</a></li>
          <li ><a class="pjax" href="/about">About</a></li>
          <li ><a class="pjax" href="/help">Help</a></li>
          <li ><a class="pjax" href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>